*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;

}

$BgColor: #10100E;
$bgAccent: #141412;
$TextColor : #FFFFE3;


html{
    font-family: 'Satoshi', sans-serif;
    scroll-behavior: smooth;



}

body{
    background-color: $BgColor;
}
 .menu{
        button{
            
            font-size: 30px;
            background-color: transparent;
            color: $TextColor;
            border: none;
            cursor: pointer;
          
        }
        background-color: $bgAccent;
        height: 100%;
       
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;

        ul{
            display: flex;
            flex-direction: column;

            li{
                margin: 10px 0;
                a{
                    
                    i{
                        color: $TextColor;
                        font-size: 30px;
                        
                    }
                }
            }
        }
    }



#hero{
    background-color:  $BgColor;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $TextColor;
    .intro{
    
        display: flex;
 
      max-width: 800px;
        margin: auto;
        flex-direction: column;
        text-align: center;
        h1{
            font-size: clamp(1.875rem, 1.161rem + 3.57vw, 4.375rem);
        }
        h3{
          font-size: 20px;
          text-transform: uppercase;
        opacity: 0.5;
        }
     p{
        font-size: 20px;
         text-align: justify;
         margin-bottom: 15px;
     }
       
        .social{
            display: flex;
            background-color: $bgAccent;
            border: 2px solid $TextColor;
            width: fit-content;
            margin: auto;
       overflow: hidden;
             border-radius: 5px;
            
            justify-content: center;
            align-items: center;
            opacity: 0.9;
            transition: 0.3s;
            &:hover{
                opacity: 1;
            }

            i{
                font-size: 1.7rem;
                transition: ease 0.1s;
                padding: 10px  12px;

                &:hover{
                    background-color: $TextColor;
                    color: $BgColor;
                }
            }
        }
    }

   

}



.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $BgColor;
    color: $TextColor;
  
    text-align: justify;
    margin: auto;
    flex-direction: column;
    h3{
        opacity: 0.5;
        text-transform: uppercase;
        font-size: 20px;
    }

    h1{
            font-size: clamp(1.875rem, 1.161rem + 3.57vw, 4.375rem);
      
    }
    p{
         font-size: 20px;
         max-width: 800px;
    }
}